#noPadding {
    padding: 0px;
    width: auto;
}

#textMargin {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
}

#alignRight {
    float: right;
}

#underline {
    text-decoration: underline;
}

img {
    border-radius: 30px;
}

h1 {
    font-size: 80px;
}

span {
   // background-color: rgb(75, 153, 158);
}

body {
    background-image:url("http://wonderworlds.org/images/snow/snow-falling-animated.gif");
// background-image: url("http://38.media.tumblr.com/9b1fc07de69bd7482afe24aa9dab8ddc/tumblr_nmihctapwR1s92vobo1_400.gif");

    background-repeat:no-repeat;
    background-attachment:fixed;
    background-repeat: repeat;
    margin: 0;
	
    // background-image: url(https://i.ytimg.com/vi/yKk3WDSFOos/maxresdefault.jpg);	
	// background-size: cover;
    font-family: Lato;
    text-align: center;
    margin: 0 auto;
    color: white;
	background-color: rgb(0, 188, 214); //PURPLE DOG
   // background-color: rgb(0, 188, 214);
    width: auto;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
}
.flex-item {
    padding: 5px;
    margin: 10px;
    font: italic bold 10em Georgia;
    //font-family: sans-serif;
    //font-size: 15px;
    //font-style: italic bold;
    color: white;
    text-align: center;
}

ul {
    background-color: #2f1940;
}

.nav.nav-tabs li a {
    color: white;
}

.img-responsive {
    margin: 0 auto;
}
